{% extends 'master.html' %}    
{% block body %}
    <h2>{{username}}'s Wall</h2>

    {% if user_id %}
        <form class="post_to_wall" method="POST" action='/user/{{username}}'> <!-- maybe action? -->
            <textarea class="form-control" rows="5" cols="200" name="wall_content"></textarea>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
        </form>
    {% endif %}

    {% for post in wall_posts %}
        <div class="wall_post">
            <p class="author">{{post[0]}}</p>
            <p class="date">{{post[1]}}</p>
            <p class="thepost">{{post[2]}}</p>
        </div>
    {% endfor %}

{% endblock %}
